In [31]:
# 301 學生成績
# -*- coding: utf-8 -*-
# 載入 pandas 模組縮寫為 pd
import pandas as pd

# 資料輸入
datas = [[75, 62, 85, 73, 60], [91, 53, 56, 63, 65],
         [71, 88, 51, 69, 87], [69, 53, 87, 74, 70]]
indexs = ["小林", "小黃", "小陳", "小美"]
columns = ["國語", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns=columns,  index=indexs)

print('行標題為科目，列題標為個人的所有學生成績')
print(df)
print()

# 輸出後二位學生的所有成績
print('後二位的成績')
print(df[-2:])
print()

# 將自然成績做遞減排序輸出
df1 = df.sort_values(by="自然", ascending=False)
print('以自然遞減排序')
print(df1['自然'])
print()

# 僅列小黃的成績，並將其英文成績改為80
df.loc["小黃", "英文"] = 80
print('小黃的成績')
print(df.loc['小黃'])

行標題為科目，列題標為個人的所有學生成績
    國語  數學  英文  自然  社會
小林  75  62  85  73  60
小黃  91  53  56  63  65
小陳  71  88  51  69  87
小美  69  53  87  74  70

後二位的成績
    國語  數學  英文  自然  社會
小陳  71  88  51  69  87
小美  69  53  87  74  70

以自然遞減排序
小美    74
小林    73
小陳    69
小黃    63
Name: 自然, dtype: int64

小黃的成績
國語    91
數學    53
英文    80
自然    63
社會    65
Name: 小黃, dtype: int64

In [32]:
data = {'name': ['Bob', 'Nancy','Amy','Elsa','Jack'],
        'year': [1996, 1997, 1997, 1996, 1997],
        'month': [8, 8, 7, 1, 12],
        'day':[11,23,8,3,11]}
myframe = pd.DataFrame(data)
myframe

    name  year  month  day
0    Bob  1996      8   11
1  Nancy  1997      8   23
2    Amy  1997      7    8
3   Elsa  1996      1    3
4   Jack  1997     12   11

In [35]:
import pandas as pd

seriesObj = pd.Series(range(10),index=['a', 'a', 'b', 'b', 'b','c','c','c','c','c'])
seriesObj

a    0
a    1
b    2
b    3
b    4
c    5
c    6
c    7
c    8
c    9
dtype: int64