In [ ]:
# 301
num1 = num2 = int(input())
result = 0

for i in range(num1,num2+1): result += i
print(result)

In [8]:
# 302
num1,num2,result = int(input()),int(input()),0

if num1 %2 == 0:
    for i in range(num1 , num2+1 , 2): result += i
else:
    for i in range(num1+1 , num2+1 , 2): result += i
print(result)

66
666
110166

In [5]:
# 304
num1,result = int(input()),0

for i in range(5 , num1+1 , 5):
    result += i
    print(result)

5
5

In [49]:
# 305
num1 = input()
print(num1[::-1])

31283
38213

In [52]:
# 306
num1,result = int(input()),1

for i in range(1,num1+1): result *= i
print(result)

15
1307674368000

In [9]:
# 308
num1 = int(input())

for i in range(1, num1+1 ):
    num2 = input()
    num_len,num_sum = len(num2),0
    for i in range(0,num_len): num_sum += int(num2[i])
    print('Sum of all digits of {} is {}'.format(num2,num_sum))

3
98773
Sum of all digits of 98773 is 34
0
Sum of all digits of 0 is 0
5
Sum of all digits of 5 is 5

In [13]:
# 309 -- 錯誤
amount,rate,month = eval(input()),abs(eval(input())),eval(input())

print('Month 	  Amount')
for i in range(1, month+1):
    dep_amount = amount+amount*rate/1200
    amount = dep_amount
    print('  {} 	 {:.2f}'.format(i,dep_amount))

50000
1.3
5
Month 	  Amount
  1 	 50054.17
  2 	 50108.39
  3 	 50162.68
  4 	 50217.02
  5 	 50271.42

In [10]:
# 310
num,num_sum = int(input()),0

for i in range(1,num): num_sum += 1/(i**0.5+(i+1)**0.5)
print('{:.4f}'.format(num_sum))

8
1.8284

In [11]:
# 303
num = int(input())
for i in range(1, num+1):
    for j in range(1,i+1): print('{:4d}'.format(i*j),end='')
    print()

5
   1
   2   4
   3   6   9
   4   8  12  16
   5  10  15  20  25

In [14]:
# 307 1 * 1 = 1   
num = int(input())
for i in range(1, num+1):
    for j in range(1, num+1): print('{} * {} = {:<4}'.format(j,i,(j*i)),end='')
    print()

5
1 * 1 = 1   2 * 1 = 2   3 * 1 = 3   4 * 1 = 4   5 * 1 = 5
1 * 2 = 2   2 * 2 = 4   3 * 2 = 6   4 * 2 = 8   5 * 2 = 10
1 * 3 = 3   2 * 3 = 6   3 * 3 = 9   4 * 3 = 12  5 * 3 = 15
1 * 4 = 4   2 * 4 = 8   3 * 4 = 12  4 * 4 = 16  5 * 4 = 20
1 * 5 = 5   2 * 5 = 10  3 * 5 = 15  4 * 5 = 20  5 * 5 = 25